node_modules/

test-results/
playwright-report/

allure-results/
allure-report/
reports/cucumber/

blob-report/

.env
.env.*
!.env.example

screenshots/
test-results/
playwright-report/
allure-results/
allure-report/
